---
import { Icon } from "astro-icon/components";

import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://github.com/mhyfritz/astro-landing-page",
    description: "View source on GitHub",
    icon: "fa-brands:google",
  },
  {
    url: "https://astro.build/chat",
    description: "Astro on Discord",
    icon: "fa-brands:instagram",
  },
  {
    url: "https://twitter.com/astrodotbuild",
    description: "Astro on Twitter",
    icon: "fa-brands:facebook",
  },
];
---

<footer class="footer relative flex h-64 items-center justify-center">
  <nav class="nav-footer">
    <li><a href="/">Home</a></li>
    <li><a href="#visas">Kind of visas</a></li>
    <li class="footerlogo">
      <a href="/"><img src="logovisa.svg" alt="logo" class="size-10" /></a>
    </li>
    <li><a href="#faq">FAQ</a></li>
    <li><a href="#about">Abaut us</a></li>
  </nav>

  <ul class="social">
    {
      links.map((link) => (
        <li>
          <a
            class="flex size-6 items-center justify-center rounded-full "
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
  <span>© Copyright Visa System US. All Rights Reserved</span>
</footer>

<style>
  .footer {
    padding-top: 1rem;
    flex-direction: column;
    z-index: 50;
    height: auto;
    background: #333333;
  }
  .nav-footer {
    list-style: none;
    color: #8cb2d1;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1rem 2rem 2rem 2rem;
    border-bottom: solid #8cb2d1 0.1rem;
  }
  .nav-footer li {
    margin-right: 2.5rem;
  }
  .social {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    margin: 1.5rem 0;
    padding: 0 2rem;
  }
  .footer span {
    font-weight: lighter;
    font-size: 12px;
    color: var(--lightblue);
    margin-bottom: 1.5rem;
  }

  @media only screen and (max-width: 900px) {
    .nav-footer {
      flex-direction: column;
    }
    .nav-footer li {
      margin-right: 0;
    }
    .footerlogo {
      order: 1;
      margin-top: 1rem;
    }

    .social li a svg {
      width: 2rem;
      height: 2rem;
    }
  }
</style>
