---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import Cta from "./cta.astro";
---

<ContentSection title="The best place" id="intro">
  <img src="logovisa.svg" class="size-28" />
  <Fragment slot="lead">
    <span class="text-primary">VISA SYSTEM</span> is the best place where you can
    have the visa <span class="text-primary">application</span> service from wherever
    you are, we are waiting to provide you with the <span class="text-primary">
      best service</span
    > on the market.
  </Fragment>
  <Cta />
</ContentSection>
